<h1>Stupid coaching</h1>
<body>
  <form action="/answer" data-turbo="false">
    <input type="text" name="answer" value ="<%= params[:answer] %>" >
    <input type="submit" value="Ask!">
  </form>
</body>
